$color-black: #212121;
$color-blue: #448AFF;
$color-red: #E64A19;
$color-orange: #FF5722;
$color-pink: #FFCCBC;
$color-white: #FFF;
$color-gray-text: #757575;
$color-gray: #BDBDBD;

.white {
  color: $color-white;
}
