@import "colors";
@import "buttons";
@import "form";
@import "navigation";
@import "expense-list";
@import "expense-item";
@import "home";

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}
